:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-pic {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    background-image: url('https://picsum.photos/100');
    background-size: cover;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

/* NAV */
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    gap: 1rem;
}

.search-bar input {
    background: transparent;
    width: 30vw;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* MAIN */
main {
    position: relative;
    top: 5.4rem;
}

.main-layout {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/* LEFT */
.left {
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

.left .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .menu-item:hover {
    background: var(--color-light);
}

.left .menu-item i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .menu-item span {
    font-size: 1rem;
    margin-left: 1.5rem;
    color: var(--color-dark);
}

.left .active {
    background: var(--color-light);
}

.left .active i {
    color: var(--color-primary);
}

/* MIDDLE */
.stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    background: red;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.story::before {
    content: '';
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    position: absolute;
    bottom: 0;
}

.story .name {
    z-index: 2;
}

.create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

.feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.feed .head {
    display: flex;
    justify-content: space-between;
}

.feed .user {
    display: flex;
    gap: 1rem;
}

.feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.interaction-buttons {
    display: flex;
    gap: 1rem;
}

/* RIGHT */
.right {
    height: max-content;
    position: sticky;
    top: 5.4rem;
    bottom: 0;
}

.friend-requests {
    margin-top: 1rem;
}

.friend-requests h4 {
    color: var(--color-gray);
    margin: 1rem 0;
}

.request {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.request .action {
    display: flex;
    gap: 1rem;
}